<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js}"></script>
    <script  type="text/javascript">
        $(document).ready(function() {
            $('#buttonAjax').click(function() {
                    var bookId = $('#bookId').val();

                $.ajax({
                    type: "GET",
                    url: '/api/ajaxrest/getBook/' + bookId,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(result) {
                        var s = 'Id: ' + result.id;
                        s += '<br/>Name: ' + result.name;
                        $("#result1").html(s);
                    }
                });
            });
            // $('#buttonAjaxList').click(function() {
            //     // var bookId = $('#bookId').val();

                $.ajax({
                    type: "GET",
                    url: '/flux',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(list) {
                        $.each(list, function (i, val) {
                            $("#personst").append("<tr>" +
                                    "<td>" + val.id + "</td>" +
                                    "<td>" + val.name + "</td>" +
                                    "<td>" + "hello" + "</td>" +
                                    "<td>" + "hello" + "</td>" +
                                    "<td>" + "hello" + "</td>" +
                                    "<td>" + "hello" + "</td>" +
                                    "</tr>");
                            })
                        }
                        // var s = 'Id: ' + result.id;
                        // s += '<br/>Name: ' + result.name;
                        // $("#result1").html(s);

                });
            // });
        });
    </script>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>


</head>
<body>
<h3>Books:</h3>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Author</th>
        <th>BookComments</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id = "personst">
<!--    <tr th:each="book : ${books}">-->
<!--        <td th:text="${book.id}">1</td>-->
<!--        <td th:text="${book.name}">Harry Potter</td>-->
<!--        <td th:text="${book.genre.name}">Adventure</td>-->
<!--        <td th:text="${book.author.name + ' ' + book.author.surname}">Joan Rowling</td>-->
<!--        <td th:text="${book.getCommentsAsString()}">nice book</td>-->
<!--        <td>-->
<!--            <a href="edit.html" th:href="@{/edit(id=${book.id})}">Edit</a>-->
<!--            <form action="#" th:action="@{'/books/delete/{id}'(id=${book.id})}" th:method="delete" >-->
<!--                <button type="submit" class="btn">-->
<!--                    Delete-->
<!--                </button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
    </tbody>
</table>
<fieldset>
    <legend>AjaxBtn</legend>
    Book id<input type="text" id="bookId"/>
    <br/>
    <input type="button" value="AjaxBtn" id="buttonAjax">
    <br/>
    <span id="result1"></span>
</fieldset>
<h3><a href="create.html" th:href="@{/create}">Create</a></h3>
<tabBody>
</tabBody>
</body>
</html>